<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">

    <script src="angular.js"></script>
    <style>
        .done {
            text-decoration: line-through;
        }

        #wrapper {
            width: 400px;
            margin: 50px auto 0 auto;
        }

        #task-list {
            margin-top: 30px;
            font-size: 1.25em;
            list-style: none;
        }
    </style>
    <script>
        var app = angular.module('my-app', []);
        app.controller('ToDoListController', function($scope) {
            $scope.tasks = [
                {description: 'Feed the Cat',
                        class: 'open'},
                {description: 'Feed the Dog',
                        class: 'open'}]

            $scope.addTask = function(){
                $scope.tasks.push({description: $scope.new})
                $scope.new = '';
            }

            $scope.delete = function(idx){

            }

            $scope.check = function(idx){
                if ($scope.tasks[idx].class === 'open'){
                    $scope.tasks[idx].class = 'done';
                } else {
                    $scope.tasks[idx].class = 'open';
                }
            }
        });
    </script>
</head>

<body>
    <div id="wrapper" ng-app="my-app" ng-controller="ToDoListController">
        <h1 class="text-info">ToDo List What</h1>
        <form class="form" ng-submit="addTask()">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="new" name="task" placeholder="DO IT">
                <span class="input-group-btn">
                    <button id="add-button" class="btn btn-info" type="submit">Add Task</button>
                </span>
            </div>
        </form>
        <ul id="task-list">
            <li ng-repeat="task in tasks track by $index">
                <i ng-click="tasks.splice($index, 1);" class="fa fa-times remove" aria-hidden="true"></i>
                <i ng-click="check($index)" class="fa fa-check check" aria-hidden="true"></i>
                <!-- <i class="fa fa-pencil-square-o edit" aria-hidden="true"> -->
                <span class="{{task.class}}">{{task.description}}</span>
            </li>
        </ul>
    </div>
</body>

</html>



<!--
Make a todo list app part 1.

1. make a list with predefined tasks and display them
2. make a form with a text input and allow adding new tasks

Hints at the bottom of this file.
-->






<!--
Hints / Detailed steps

0. Use angular-examples/9-simple-repeat.html and angular-examples/8-coins.html as examples for how to use ng-repeat. Don't copy and paste though.

## List the items on the page

1. Make an AngularJS module
2. In that module, make a controller
3. Attach template code to the module using `ng-app`
4. Attach template code to the controller using `ng-controller`
5. Create a tasks property on $scope and set it to an array of objects representing tasks, each one containing a "description" property.
6. Make a ul
7. Within the ul, make an li, add an `ng-repeat` attribute to the li to repeat it for each task in the tasks array - `ng-repeat="task in tasks"`. Display the description of each task using the `{{task.description}}` expression. See angular-examples/8-coins.html for an example of ng-repeat usage.

## Add new items to the list

8. Make a form, above the ul.
9. Inside the form, make a text input and bind it to the `newTask` property of the scope: `<input type="text" ng-model="newTask">`
10. Inside the form, make a button: `<button>Add</button>`
11. Add an `ng-submit` directive to the form to call a method `addTask()`
12. Create an addTask method in the $scope in JavaScript - which creates an object representing a task and pushes it onto the `$scope.tasks` array.
-->
